body {
  background-color: #9eb5fa;
  margin: 0;
  font-family: sans-serif;
}

.topnav {
  background-color: #1144e4;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 12px 18px;
}

.topnav img {
  margin-right: 10px;
  width: 50px;
}

h1 {
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 40px 80px;
  background-color: #ffffff;
  border-radius: 20px;
}

.form-group {
  padding: 10px 10px;
}

@media screen and (min-width: 992px) {
  .info {
    padding: 20px;
    margin: 40px auto;
    width: 60%;
  }
}

input,
textarea {
  font-family: sans-serif;
  color: black;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid #0f3cc9;
  padding: 13px;
  margin-top: 8px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #0f3cc9;
  color: #ffffff;
  background-color: #0f3cc9;
  padding: 12px 16px;
  font-weight: 800;
  font-size: 16px;
  height: 42px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  border: 2px solid #0a2885;
  background-color: #0a2885;
  color: #ffffff;
}

.table-section {
  display: none;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}
